{% extends "layout.html" %}

{% block content %}
    <!--================ End Header Menu Area =================-->
        
    <!--================ Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h2>About Us</h2>
                   <p> small information about Rebooks</p>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Home Banner Area =================-->

	<!--================ Start About Us Area =================-->

	<section class="about_area section_gap">
        <div class="container">
            <div class="row">	
                <div class="single_about row">
                    <div class="col-lg-6 col-md-12 text-center about_left">
                        <div class="about_thumb" style="width: 470px">
                            <img src="static/img/about.jpg" class="img-fluid" alt="" >
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 about_right">
                        <div class="about_content">
                            <h2>
                                    Rebooks
                            </h2>
                            <p>
                                    Rebooks is a leading brand for second hand books, offered for sale in nine stores, in over 450 different points of sale (e.g., cafés, kindergartens, large companies, and gyms) and via Rebooks website and social media platforms. The vocational rehabilitation training process in Rebooks seek to improve hard and soft working skills including book collecting, sorting, sales (including on-line sales) and customer service.

                            </p>
                            
                            <a href="#" class="primary_btn">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End About Us Area =================-->

	<!--================Mission and Vision =================-->
	
    <section class="features_causes">
        <div class="container">
            <table align="center">
                <tr>
                    <td>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    
                        <div class="card" style="width: 430px ; height: 350px; padding-right: 30px" >
                            <div class="jumbotron" style="background-color: #e6ffe6">
                                <div class="card-body" style="text-align: center ; ">
                                <div class="card_inner_body" style="padding-top: 3px " >

                                    <h4 class="card-title" style="font-size: 26px ;" > <font color="#003300"> Mission</font></h4>
                                    <p style="font-size: 18px">
                                        <font color="black"> 
                                    Our mission is to help people with disabilities, and specifically people with mental disabilities, to be included in society, to pursue their journeys, to reach their functional goals and to live independently in their community.
                                </font>
                                    </p>  
                                    
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        
        </div>
</td>
<td>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    
                        <div class="card" style="width: 430px ; height: 350px; padding-left: 30px;" >
                            <div class="jumbotron" style="background-color: #e6ffe6 ;height: 390px ;">
                                <div class="card-body" style="text-align: center ; ">
                                <div class="card_inner_body" style="padding-top: 3px ;" >

                                    <h4 class="card-title" style="font-size: 26px ;" > <font color="#003300" > Vision </font></h4><p style="font-size: 18px">
                                        <font color="black"> 
                                        Our vision is to form a community where people with mental disabilities can pursue their dreams and goals, and live independently in their community .
                                    </font>
                                    </p>
                                    
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </td>
        </tr>
        </table>
<div style="padding-top: 50px">

        <font style="font-size: 18px;">
            <i><b>
                <p align="center">
                    <font color="#003300">
        “Think before you speak, Read before you think”</font> </p></b></i> <br/> <p align="center">～Fran Lebowitz</p>


</div>
        

    </section>

    </body>
{% endblock %}
</html>