{% extends "layout.html" %}

{% block content %}
    <!--================ End Header Menu Area =================-->
        
    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Contact Us</h2>
                    <p>Send us a message!</p>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    
    <!--================Contact Area =================-->
    <section class="contact_area section_gap">
        <div class="container">                
                    <div class="contact_info" style="width: 500px">

                        <div class="info_item" style="padding-bottom: 40px">
                            <i class="lnr lnr-phone-handset"></i>
                            <h6><a href="#">03-5341400</a></h6>
                            <p>From Sunday to Thursday 8:30 to 16:30 </p>
                        </div>
                        <div class="info_item" style="padding-bottom: 60px">
                            <i class="lnr lnr-envelope"></i>
                            <h6><a href="#"> rebooks@s-tov.org.il</a></h6>
                            <p>Send us your question anytime!</p>
                        </div>
                    </div>
               
               
                    <form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate" >
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" name="name" placeholder=" Name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email address">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject" name="subject" placeholder=" Subject">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" >
                                <textarea class="form-control" name="message" id="message" rows="1" placeholder=" Message"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="submit" value="submit" class="btn primary_btn">Send Message</button>
                        </div>
                    </form>
        </div>
    </section>

    <!--================Contact Area =================-->
        

	
    <!--================ End Subscribe Area =================-->

    <!--================Contact Success and Error message Area =================-->
    <div id="success" class="modal modal-message fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-close"></i>
                    </button>
                    <h2>Thank you</h2>
                    <p>Your message is successfully sent...</p>
                </div>
            </div>
        </div>
    </div>

    <!--================ Start footer Area  =================-->	
    <footer>
        <div class="footer-area">
            <div class="container">
                <div class="row section_gap">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title large_title" >Social Media</h4>
                            <div class="ml-40" style="width: 500px">
                                <font size="5px">
                                    
                               
                                <p class="sm-head" >
                                    <span>
                                        <img src="static/img/insta.png" style="width: 25px">
                                    </span>
                                    Instagram
                                </p >
                                <p style="padding-bottom: 40px">
                                <a href="https://www.instagram.com/rebooks_israel/">
                                <font color="gray">
                                 @rebooks_israel
                            
                                </a>

                            
                                </p>
    
                                
    
                                <p class="sm-head">
                                   <span>
                                        <img src="static/img/facebook.png" style="width: 25px">
                                    </span>
                                    Facebook
                                </p>
                                <p style="padding-bottom: 40px"s>
                                  <a href="https://www.facebook.com/%D7%A1%D7%99%D7%A4%D7%95%D7%A8-%D7%97%D7%95%D7%96%D7%A8-173464269341/?ref=nf&hc_ref=ARS9dcuvNX_haHNld2duIGRELOrz_-eO2KITI_JndhBR6V0xzDn_BFhQ3tTJnDvORbg&__xts__[0]=68.ARDcP7aicjN90HCx6Ty6r4QknUSjSm6ujF5XvUBi44mzfDfFfK6vghdDqMYYGJ4kQXb5Mpfuj_oNAeYOpfJ9Oy8ipVQ_9Ie8vJSxKFlePek9BX-vnA0h2cpkg7ClS20ohXjmKYuWL8Abv0NluzXZY9lVxNfG_7s1sAQpeqeQD1gJSUJFEbN9YTYoRN3AX8y5zkLQz6cm7oOUW0lbXyi_tPDqixVK3UMW0RoZfmQ6khU8MOHf6b9z9DJ7FuiA-KV-ZQl_h56Gc4SMBvqY_e8pGDpVdF0Pb_1HQj7GEzXxqsjTk8ZQXXhrJ2gAoxXcZc4EjS3ybeod0ofN1gs&__tn__=%3C-R"> 
                                   <font color="gray">
                                   Rebooks</a>
                               </font>
                                </p>

                                <p class="sm-head">
                                    <span>
                                        <img src="static/img/youtube.png" style="width: 30px">
                                    </span>
                                            Youtube
                                </p>
                                <p>
                                    <a href="https://www.youtube.com/watch?v=udrdsqDCzNE"> 
                                     <font color="gray">
                                     Rebooks – a social business of second hand books stores
                                 </font>
                             </a>

                                </p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row d-flex">
                    <p class="col-lg-12 footer-text text-center">
                    
            </div>
        </div>
    </footer>
    <!--================ End footer Area  =================-->


        
        
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/popper.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/stellar.js"></script>
        <script src="vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="js/mail-script.js"></script>
        <!-- contact js -->
        <script src="js/jquery.form.js"></script>
        <script src="js/jquery.validate.min.js"></script>
        <script src="js/contact.js"></script>
        <!--gmaps Js-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
        <script src="js/gmaps.min.js"></script>
        <script src="js/theme.js"></script>
    </body>
{% endblock %}
</html>