{% extends "layout.html" %}

{% block content %}
        <!--================ End Header Menu Area =================-->
            
        <!--================ Home Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
                <div class="container">
                    <div class="banner_content text-center">
                        <h2>Our Stores  </h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </section>

        <!--================donate page Area =================-->

        <h1 style="text-align: center; padding-bottom: 50px; padding-top: 100px">Our Stores</h1>

<div id="googleMap" style="width:70%;height:900px; margin: auto;"></div>

<script>
function myMap() {
var mapProp= {
  center:new google.maps.LatLng(51.508742,-0.120850),
  zoom:5,
};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=
AIzaSyD_1e9-jiABTPKehMIizGWjAp9gvCoboVo
&callback=myMap"></script>
        
  <!--================  quate  =================-->  

<div style="padding-top: 50px">

        <font style="font-size: 18px;">
            <i><b>
                <p align="center">
                    <font color="#003300">
        “A book is a gift you can open again and again ”</font> </p></b></i> <br/> <p align="center">～Garrison Keillor</p>


</div>
    </body>
{% endblock %}
</html>