<!DOCTYPE html>
<html>
<head>
	<title>Rebooks</title>
</head>
<body>

{% extends "layout.html" %}

{% block content %}
	<!--================ End Header Menu Area =================-->
	
	<!--================ Home Banner Area =================-->
	<section class="home_banner_area">
		<div class="banner_inner">
			<div class="container">
				<div class="banner_content">
					<p class="upper_text">Rebooks</p>
					<h2>Leaders are Readers</h2>
					<p>
						Rebooks is a social bookstore chain that represents a rehabilitation center for people who are dealing with mental disabilities through reusing books.
					</p>
					<a class="primary_btn mr-20" href="#">Donate Now</a>



					<a class="primary_btn yellow_btn text-white" href="/about">About us</a>

				</div>
			</div>
		</div>
	</section>
	<!--================ End Home Banner Area =================-->
	
	<!--================ Start Causes Area =================-->
	<section class="causes_area">
		<div class="container">
			<div class="main_title">
				<h2>4 channels of activity</h2>
				
			</div>
			<div class="myrow" style="width:100%; display: flex;">
				<div class="mycol">
					<div class="single_causes">
						<h4><img src="static/img/1.png" width="100px"></h4>
						
						<p>
							Bookstores scattered throughout the country, logistics center, visitor center and customer service center
						</p>
					</div>
				</div>
				<div class="mycol">
					<div class="single_causes">
						<h4><img src="static/img/2.png" width="100px"></h4>
						
						<p>
							The largest website for selling second hand books in Israel 
							<a href="https://rebooks.org.il/?he_IL"> rebooks.org.il</a>
						</p>
					</div>
				</div>
				<div class="mycol">
					<div class="single_causes">
						<h4><img src="static/img/3.png" width="100px"></h4>
						
						<p>
							About 500 positions for sale and book lending in businesses across the country
						</p>
					</div>
				</div>
				<div class="mycol">
					<div class="single_causes">
						<h4><img src="static/img/4.png" width="100px"></h4>
						
						<p>
							"Library at the station"
Question Library Project in collaboration with Israel Railways
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Causes Area =================-->

	<!--================ Start About Us Area =================-->
	<section class="about_area section_gap_bottom">
		<div class="container">
			<div class="row">	
				<div class="single_about row">
					<div class="col-lg-6 col-md-12 text-center about_left">
						<div class="about_thumb">
							<img src="img/about-img.jpg" class="img-fluid" alt="">
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!--================ End About Us Area =================-->

	<!--================ Start Features Cause section =================-->
	<section class="features_causes">
		<div class="container">
			<div class="main_title">
				<h2 style="font-size:50px">NEW BOOKS</h2>
							</div>

			<div class="row">
				<div class="col-lg-4 col-md-6">
					
						<div class="card">
							<div class="jumbotron">
							<div class="card-body" style="text-align: center ; ">
								<div class="card_inner_body" style="padding-top: 3px; " >

									<h4 class="card-title" style="font-size: 26px ;" > <font color="#003300" > Deception Wars </font></h4> <br/>
									<p class="card-text">
										<img src="static/img/book1.jpeg" alt="Card image cap" width="150px" >
									</p>
									<div class="d-flex justify-content-between raised_goal" style="left: 50%; position: relative; transform: translateX(-30%);">
										
										<p> Author: Ehud Yaari<br/>Price: 20 &#8362</p> 
										</font>
										
									</div>
									<div class="d-flex justify-content-between donation align-items-center" style="left: 50%; position: absolute; transform: translateX(-50%);">
										<a href="/store" class="primary_btn">More Books</a>
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
		

			<div class="col-lg-4 col-md-6">
				<div class="card">
							<div class="jumbotron">
							<div class="card-body" style="text-align: center ;">
								<div class="card_inner_body" style="padding-top: 3px ">

									<h4 class="card-title" style="font-size: 26px ;" > <font color="#003300" > World Shadow </font></h4> <br/>
									<p class="card-text">
										<img src="static/img/book2.jpeg" alt="Card image cap" width="150px" >
									</p>
									<div class="d-flex justify-content-between raised_goal" style="left: 50%; position: relative; transform: translateX(-30%);">
										<font color="black"> 
										<p> Author: Nir Baram<br/>Price: 20 &#8362</p> 
										</font>
										
									</div>
									<div class="d-flex justify-content-between donation align-items-center" style="left: 50%; position: absolute; transform: translateX(-50%);">
										<a href="/store" class="primary_btn">More Books</a>
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
				<div class="col-lg-4 col-md-6">
					<div class="card">
							<div class="jumbotron">
							<div class="card-body" style="text-align: center ;">
								<div class="card_inner_body" style="padding-top: 3px; padding-bottom: 20px" >

									<h4 class="card-title" style="font-size: 26px ;" > <font color="#003300" > Spy In The Winter </font></h4> <br/>
									<p class="card-text">
										<img src="static/img/book3.jpeg" alt="Card image cap" width="150px" >
									</p>
									<div class="d-flex justify-content-between raised_goal" style="left: 50%; position: relative; transform: translateX(-40%);">
										<p> Author: Micheal Bar-Zohar<br/>Price: 20 &#8362</p> 
										
									</div>
									<div class="d-flex justify-content-between donation align-items-center" style="left: 50%; position: absolute; transform: translateX(-50%);">
										<a href="/store" class="primary_btn">More Books</a>
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>

	</section>
	<!--================ End Features Cause section =================-->
	<!--================ 	quatess =================-->
<div >

        <font style="font-size: 18px;">
            <i><b>
                <p align="center">
                    <font color="#003300">
        “A room without books is like a body without a soul”</font> </p></b></i> <br/> <p align="center">～Cicero</p>


</div>
	
</body>
{% endblock %}
</html>