<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{{url_for('static', filename='img/logo.png')}}" type="image/png">
        <title>About Us</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='vendors/linericon/style.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='vendors/lightbox/simpleLightbox.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='vendors/nice-select/css/nice-select.css')}}">
        <!-- main css -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/responsive.css')}}">
    </head>
<body>

</body>
</html>