<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{{url_for('static', filename='img/logo.png')}}" type="image/png">
        <title>About Us</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='vendors/linericon/style.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='vendors/lightbox/simpleLightbox.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='vendors/nice-select/css/nice-select.css')}}">
        <!-- main css -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/responsive.css')}}">
    </head>
<body>
	<table align="center">
                <tr>
                    <td>
            <div class="row" style="margin-left: 40%">
                <div class="col-lg-4 col-md-6">
                    
                        <div class="card">
                            <div class="jumbotron" style="background-color: #006600;">
                                <div class="card-body" style="text-align: center ; ">
                                <div class="card_inner_body" style="padding-top: 3px " >

                                    <h4 class="card-title" style="font-size: 26px ;" > <font color="white"> Log In</font></h4>
                                    <p style="font-size: 18px">
                                        <font color="black"> 
                                    Our mission is to help people with disabilities, and specifically people with mental disabilities, to be included in society, to pursue their journeys, to reach their functional goals and to live independently in their community.
                                </font>
                                    </p>  
                                    
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        
        </div>
</td>
</tr>
</table>
</body>
</html>