{% extends "layout.html" %}

{% block content %}
    <!--================ End Header Menu Area =================-->
        
    <!--================ Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Staff</h2>


                    <p>We welcome you to meet our staff here in Rebooks!</p>

                </div>
            </div>
        </div>
    </section>
    <!--================ End Home Banner Area =================-->

	<!--================ Start Recent Event Area =================-->
	<section class="event_area section_gap_top">
        <div class="container">
            <div class="main_title">
                <h1>Our Staff</h1>
            </div>
        
            <div class="row" >
                <div class="col-lg-6">
                    <div class="single_event">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6" st>
                                <figure>
                                    <img class="img-fluid w-100" src="static/img/staff1.jpeg" alt="">
                                    <div class="img-overlay"></div>
                                </figure>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="content_wrapper">
                                    <h3 class="title">
                                        Name LastName
                                    </h3>
                                    <p >
                                        
                                        <b>Age:</b>111
                                        <br>
                                        <b>Position:</b> doing nothing
                                        <br>
                                        <b>About me: </b> i am doing nothing in life, text text text, i like falafel
                                        
                                    </p>
                                    
                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="single_event">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6">
                                <figure>
                                    <img class="img-fluid w-100" src="static/img/staff2.jpeg" alt="">
                                    <div class="img-overlay"></div>
                                </figure>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="content_wrapper">
                                    <h3 class="title">
                                       Name Last
                                    </h3>
                                    <p >
                                        
                                        <b>Age:</b>111
                                        <br>
                                        <b>Position:</b> doing nothing
                                        <br>
                                        <b>About me: </b> i am doing nothing in life, text text text, i like falafel
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="single_event">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6">
                                <figure>
                                    <img class="img-fluid w-100" src="static/img/staff3.jpeg" alt="">
                                    <div class="img-overlay"></div>
                                </figure>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="content_wrapper">
                                    <h3 class="title">
                                     Name Last
                                    </h3>
                                    <p >
                                        
                                        <b>Age:</b>111
                                        <br>
                                        <b>Position:</b> doing nothing
                                        <br>
                                        <b>About me: </b> i am doing nothing in life, text text text, i like falafel
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="single_event">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6">
                                <figure>
                                    <img class="img-fluid w-100" src="static/img/staff4.jpeg" alt="">
                                    <div class="img-overlay"></div>
                                </figure>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="content_wrapper">
                                    <h3 class="title">
                                      Name LastName
                                    </h3>
                                    <p >
                                        
                                        <b>Age:</b>111
                                        <br>
                                        <b>Position:</b> doing nothing
                                        <br>
                                        <b>About me: </b> i am doing nothing in life, text text text, i like falafel
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="single_event">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6">
                                <figure>
                                    <img class="img-fluid w-100" src="static/img/staff5.jpeg" alt="">
                                    <div class="img-overlay"></div>
                                </figure>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="content_wrapper">
                                    <h3 class="title">
                                     Name Last
                                    </h3>
                                    <p >
                                        
                                        <b>Age:</b>111
                                        <br>
                                        <b>Position:</b> doing nothing
                                        <br>
                                        <b>About me: </b> i am doing nothing in life, text text text, i like falafel
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="single_event">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6">
                                <figure>
                                    <img class="img-fluid w-100" src="static/img/staff6.jpeg" alt="">
                                    <div class="img-overlay"></div>
                                </figure>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="content_wrapper">
                                    <h3 class="title">
                                     Name Last
                                    </h3>
                                    <p >
                                        
                                        <b>Age:</b>111
                                        <br>
                                        <b>Position:</b> doing nothing
                                        <br>
                                        <b>About me: </b> i am doing nothing in life, text text text, i like falafel
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <div style="text-align: center; padding-top: 50px">
        <h2> About Our Staff</h2>
        <p>
            text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text 
            <br>
            text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text
            <br>
             text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text
             <br>
              text text text text text text text text text text text text text text text text text text text text text text text
             <br>
              text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text 
              <br>
              text text text text text text text text text text text text text text text text text text text text text text 
              text text text text text text text text text text text text text
              <br>
               text text text text text text text text text text text 

    </div>
    <!--================ quate =================-->

<div style="padding-top: 50px">

        <font style="font-size: 18px">
            <i><b>
                <p align="center">
                    <font color="#003300">
        “A little reading is all the therapy a person needs”</font> </p></b></i> <br/> <p align="center">～Anonymous</p>


</div>

    </body>

{% endblock %}
</html>