

{% extends "layout.html" %}
{% block login %}
        <a class="primary_btn yellow_btn text-white" href="/log_in">Log In</a>
{% endblock %}

{% block content %}

    <!--================ Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="banner_content text-center" >
                   
                    <h2>Books</h2>
                    <p> Buy some books!</p>
                  
                </div>
            </div>
        </div>
    </section>
    <!--================ End Home Banner Area =================-->
	
	<!--================ Start Causes Area =================-->
	
    <div>
                <table class="center">
                    <tr >
                        <td class="book"> <img src="static/img/img.jpg"> 
                        <br>
                        name: book
                        <br>
                        Author: Name
                        <br>
                        price:20 &#8362
                       

                    </td>

                    <td class="book"> <img src="static/img/img.jpg"> 
                        <br>
                        name: book
                        <br>
                        Author: Name
                        <br>
                        price:20 &#8362
                    </td>

                        <td class="book" > <img src="static/img/img.jpg"> 
                        <br>
                        name: book
                        <br>
                        Author: Name
                        <br>
                        price:20 &#8362
                       

                    </td>
                    
                       <td class="book"> <img src="static/img/img.jpg"> 
                        <br>
                        name: book
                        <br>
                        Author: Name
                        <br>
                        price:20 &#8362
                       

                    </td>                                       
                    </tr>

                    <tr >
                        <td class="book"> <img src="static/img/img.jpg"> 
                        <br>
                        name: book
                        <br>
                        Author: Name
                        <br>
                        price:20 &#8362
                       

                    </td>

                    <td class="book"> <img src="static/img/img.jpg"> 
                        <br>
                        name: book
                        <br>
                        Author: Name
                        <br>
                        price:20 &#8362
                    </td>

                        <td class="book" > <img src="static/img/img.jpg"> 
                        <br>
                        name: book
                        <br>
                        Author: Name
                        <br>
                        price:20 &#8362
                       

                    </td>
                    
                       <td class="book"> <img src="static/img/img.jpg"> 
                        <br>
                        name: book
                        <br>
                        Author: Name
                        <br>
                        price:20 &#8362
                       

                    </td>                                       
                    </tr>


                    <tr >
                        <td class="book"> <img src="static/img/img.jpg"> 
                        <br>
                        name: book
                        <br>
                        Author: Name
                        <br>
                        price:20 &#8362
                       

                    </td>

                    <td class="book"> <img src="static/img/img.jpg"> 
                        <br>
                        name: book
                        <br>
                        Author: Name
                        <br>
                        price:20 &#8362
                    </td>

                        <td class="book" > <img src="static/img/img.jpg"> 
                        <br>
                        name: book
                        <br>
                        Author: Name
                        <br>
                        price:20 &#8362
                       

                    </td>
                    
                       <td class="book"> <img src="static/img/img.jpg"> 
                        <br>
                        name: book
                        <br>
                        Author: Name
                        <br>
                        price:20 &#8362
                       

                    </td>                                       
                    </tr>

                    <tr >
                        <td class="book"> <img src="static/img/img.jpg"> 
                        <br>
                        name: book
                        <br>
                        Author: Name
                        <br>
                        price:20 &#8362
                       

                    </td>

                    <td class="book"> <img src="static/img/img.jpg"> 
                        <br>
                        name: book
                        <br>
                        Author: Name
                        <br>
                        price:20 &#8362
                    </td>

                        <td class="book" > <img src="static/img/img.jpg"> 
                        <br>
                        name: book
                        <br>
                        Author: Name
                        <br>
                        price:20 &#8362
                       

                    </td>
                    
                       <td class="book"> <img src="static/img/img.jpg"> 
                        <br>
                        name: book
                        <br>
                        Author: Name
                        <br>
                        price:20 &#8362
                       

                    </td>                                       
                    </tr>

                </table>
    </div>
    </body>
    {% endblock %}

</html>